@media (prefers-reduced-motion: no-preference) {
    .App_logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    background-color: cornflowerblue;
    grid-area: h;
    height: 60px;
}

.header .App_logo {
    height: 50px;
    pointer-events: none;
    margin-left: 15px;
    margin-top: 5px;
}