@media (prefers-reduced-motion: no-preference) {
    .App_logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    background-color: cornflowerblue;
    grid-area: h;
    height: 60px;
    left: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header .App_logo {
    height: 50px;
    pointer-events: none;
    margin-top: 5px;
}

.loginBlock {
    align-self: center;
}

.loginBlock a {
    text-decoration: none;
    color: #454242;
}

.loginBlock a:hover {
    color: white;
    text-decoration: underline;
}