.nav {
    background-color: gainsboro;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.item {
    margin: 5px;
}

.item a.activeLink {
    color: cornflowerblue;
}

.navBox {
    grid-area: n;
    z-index: 1;
    position: fixed;
    margin-top: 70px;
    width: 13%;
}

.item a {
    color: #454242;
}