.post  {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: space-around;
}

.mainContent {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: space-around;
}

.elemPost {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    align-self: flex-start;
}

.avatar {
    background-image: url("https://lh3.googleusercontent.com/proxy/jdqAGHMsIJ_S69e1PnET23g1XPEmbmaMD-W1axeubTb2Swj1w-eYre5fbvJsnTCoNknTZHsguX9AEqdW3gekT9zDwBx--EVA9mAQBxJXFehuxuiYaQTxmJmNSRPQQ8lT2BtKCA");
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    align-self: center;
}

.text {
    color: black;
    align-self: center;
    margin-bottom: 10px;
}

.like {
    font-size: small;
    margin-left: 87px;
    margin-top: -10px;
}